.navbar-container{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}


.navbar-tab-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    width: 500px;
    margin-right: 50px;
    font-weight: 400;
    font-size: 13px;
}

.logo-img{
    height: 40px;
    width: 150px;
}

.nav-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color:black;
    font-weight:bold;
}

.active{
    border: 0;
    padding: 5px;
    border-bottom:3px solid #1D9BF0;
}

